#image-gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#image-gallery img {
	border-radius: 10px;
	overflow: hidden;
	object-fit: cover;
	transition: transform 0.2s ease-in-out;
}

#image-gallery img:hover {
	transform: scale(1.1);
}

img {
	width: 30%;
	height: auto;
	display: inline-block;
	margin: 20px;
}